/****** INICIO ESTILOS INDEX.HTML ****/


// estlos particulares
.row.sinMargin {
	margin-bottom: 0 !important;
}
.row .col.pau_pegado {
	padding: 0;
}

.input-field input {
	margin: 0 0 0 0;
}

// navBar 
.pau_navBar {
	border: 1px solid black;
	margin-top: 60px; 

	.pau_navBar__buscador {

		input {
			border-bottom: transparent !important;
			margin-bottom: 0;
		}
		
		input:active {
			border-bottom: 0 !important;
		}
	}

	#pau_cuando {
		border-left: 1px solid black;
		border-right: 1px solid black;
		height: 81px;
		.pau_flecha {
			.col {
				margin-left: 0 !important;
			}
			i {
				display:none;
			}
		}
		.pau_btn--cuando {
			a  {
				height: 3rem;
				color: #9e9e9e;
			}
		}
		.pau_btn--salida>input{
			display: none;

		}

		.pau_btn--llegada>input {
			display: none;

		}
	}

	#pau_huespedes {
		.pau_huespedes__btn {
			padding-top: 25px;
		}
	}

}

// carousel - Slider
.carousel {
	height: 470px; 
	.carousel-item {
		top: -120px;
		.card {
			.card-image {

			}
			.card-content{
				padding: 7px 1px;
				span {
					color: black;
				}
			}
		}
	}
}

footer {
	.select-wrapper {
		width: 120px;
	}

	.select-wrapper input.select-dropdown {
		border: 1px solid #9e9e9e;
		padding: 0 10px;
		border-radius: 5px;
	}

	.pau_list-footer {
		h6 {
			text-align: left !important;
			margin-top: 20px;
			margin-left: 0;
			margin-bottom: 10px;
		}

		ul>li>a {
			color: #9e9e9e;
		}
	}

	h6 {
		margin: 0;
	}

	.footer-copyright {
		padding-top: 20px;
		.pau_marca-footer>img {
			width: 20px;
			height: 20px;
		}
		.pau_marca-footer>a {
			padding: 0 10px;
			color: #9e9e9e;
		}
	}
}


/*** FIN ESTILOS INDEX.HTML ***/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0 70px;
}

main {
	flex: 1 0 auto;
}

/* Inicio NAVBAR */
nav{
	background-color: whitesmoke;
	.mac_contenedorNav{
		margin-left: 5%;
		margin-right: 5%;
	}
	.mac_cajaLogo{
		background-color: whitesmoke;
		padding: 17px;
		border: none;
		border-right: 2px solid #cfcfcf;
	}
	input{
		width: 100%;
	}
}

nav .input-field label i {
	color: black;
	-webkit-transition: color .3s;
	transition: color .3s;
}

nav, nav a, nav ul a, span.badge.new {
	color: #000000;
	font-size: 15px;
}
/* Fin NAVBAR */

/* Inicio MAPA */
.mapa{
	#map{
		height: 100%;
		width: 100%;
	}
}
/* Fin MAPA */

/* Inicio FOOTER */
footer{
	.mac_hr{
		width: 95%;
	}

	.page-footer, .pagination li.active {
		background-color: whitesmoke;
	}

	.pagination li a {
		color: #6ea9ad;
		display: inline-block;
		font-size: 1.2rem;
		padding: 0 10px;
		line-height: 30px;
	}

	.pagination li.active a {
		color: #000;
	}

	h6 {
		font-size: 1rem;
		margin: .5rem 0 .4rem;
		margin-left: 34px;
		color: #a9a8a7;
	}
}
/* Fin FOOTER */

.val_filtros{
	width: 70%;
}

.val_filtros__btn{
	height: 5em;  
	font-size:12px;
	line-height:130%;  
	
}

.switch{
	margin-top:0.5em;
}

.val_filtros__btn__dos{
	border:1px solid #000;
	border-radius: 2px;
}

.val_filtros__parrafoUno{
	font-weight: bold;
	
}

.val_filtros_textdos{
	color:$plomo;
}

.val_filtros__img__flechas{
	width: 65px;
	font-weight: bold;
}

//tarjetas - cards----------
.val_tarjeta_cajaprecios{
	
	margin: 10px;
	width: 50px;
	height: 50px;
	background:  rgba(0,0,0,.5);
	border: 1px solid #000;
	transition: all 1s ease;
}
.val_tarjeta__cajaprecios:hover{
	width: 59px;
	transition: all 2s ease;
}



//lo de arriba es una transicion pero no funciono revisar

.val_tarjeta__imgdos{
	
}

.val_tarjeta__contenido__img{
	position:relative;
	top: -6em;
	@include resolucion;
	border: 2px solid #fff;

}

.val_tarjeta__contenido__title{
	font-weight: bold;
	color: #7BBFEA;
}

.val_tarjeta__contenido__text{
	color: #7BBFEA;
	font-size: 12px;
}

.val_tarjeta__estrellas{
	weight: 70px;
}


